# Android
*.apk
*.apks
*.aab
*.jar
*.class

# Build
build/
bin/
gen/
generated/

# Gradle
.gradle/
gradle-app/
!gradle/wrapper/

# IDE
.idea/
*.iml
.vscode/

# Local
local.properties

# OS
.DS_Store
Thumbs.db

# Kotlin
.kotlin/
*.kotlin_module

# Debug
debug.keystore

# Test
/test-outputs/
/profils/
